.header {
    margin: 20px 16px;
}

.input-choose-review {
    margin: 0 16px;
}

.review-imageWrapper {
    width:360px;
    padding-bottom: 10px;
    overflow:scroll;
    position: relative;
}

.brnik-image {

}

.button-choose-for-review {
    display: none;
    position: absolute;
    right: 130px;
    bottom: 270px;
    color: #009882;
}

.continue {
    position: absolute;
    right: 20px;
    bottom: 70px;
}