h2 {
    padding-bottom: 5px;
}

.imageWrapper{
    width:360px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow:scroll;
    position: relative;
}

.iconWrapper1 {
    z-index: 2;
    color:#00826f;
    top:110px;
    left:190px;
    position: absolute;
}

.rating1 {
    z-index: 2;
    top:145px;
    left:172px;
    position: absolute;
}

.iconWrapper2{
    z-index: 2;
    color:#00826f;
    top:325px;
    left:590px;
    position: absolute;
}

.rating2 {
    z-index: 2;
    top:360px;
    left:572px;
    position: absolute;
}

.avgrate {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 5px;
}

.review-line-category {
    display: inline-block;
    width: 100px;
    padding-bottom: 10px;
}

.avgrevheader {
    color: #00826f;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 10px;
    padding-bottom: 15px;
    //size: 30px;
}

.iconWrapper3{
    z-index: 2;
    color:#00826f;
    top:120px;
    left:520px;
    position: absolute;
}

.rating3 {
    z-index: 2;
    top:155px;
    left:502px;
    position: absolute;
}

.iconWrapper4{
    z-index: 2;
    color:#00826f;
    top:120px;
    left:655px;
    position: absolute;
}

.rating4 {
    z-index: 2;
    top:155px;
    left:637px;
    position: absolute;
}

.iconWrapper5{
    z-index: 2;
    color:#00826f;
    top:190px;
    left:790px;
    position: absolute;
}

.rating5 {
    z-index: 2;
    top:225px;
    left:772px;
    position: absolute;
}

.brnik-image{
    overflow: scroll;
}

.full-width {
    width: 100%;
}

